# .NET
bin/
obj/
/packages/
*.user
*.suo
*.log
*.tmp

# Rider
.idea/
riderModule.iml
/_ReSharper.Caches/

# Visual Studio
.vs/

# Ambiente e segurança
.env
appsettings.Development.json

# Docker
docker-compose.override.yml

# Sistemas operacionais
.DS_Store
Thumbs.db